.jumbotron {
    display: flex;
    align-items: center;
    background-color: darkblue;
    color: white;
    height: 50px;
}

.card {
    margin-left: 10px;

}

.card-body{

}

.display {
    margin-left: 250px;
    font-size: 500%;
}

#results {
    position: relative;
    width: 75%;
    right: -300px;
    top: -220px;
    font-size: large;
}